<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.agrivetApp">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        tools:replace="android:label"
        android:name="com.project.agrivetApp.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/profile_pic"
        android:label="@string/agrivet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <activity android:name="com.project.agrivetApp.activities.ChatbotActivity" />
        <activity
            android:name="com.project.agrivetApp.activities.MainActivity"
            android:label="@string/Agrivet"
            android:theme="@style/AppTheme.NoActionBar"/>
            <activity android:name="com.project.agrivetApp.activities.LoginActivity"
                android:noHistory="true" />
            <activity android:name="com.project.agrivetApp.activities.RegisterActivity"
                android:noHistory="true"/>
            <activity android:name="com.project.agrivetApp.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.UsersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.project.agrivetApp.activities.Select_Policy"
            android:label="@string/policy_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.SelectProblem"
            android:label="@string/problem_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.TreatmentDetail"
            android:label="@string/treatment_detail_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.SelectProblem" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.CropProductionActivity"
            android:label="@string/crops_production_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.Select_State_Bazaar"
            android:label="@string/bazaar_title"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.SurveyActivity"
            android:label="@string/production_details_title"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.HorticultureActivity"
            android:label="@string/title_activity_horticulture"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.SurveyInformation"
            android:label="@string/production_details_title"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.SurveyActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.BazaarInformation"
            android:label="@string/bazaar_title"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.SurveyActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.GraphActivity"
            android:label="@string/production_details_title"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.SurveyInformation" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.BazaarActivity2"
            android:label="@string/bazaar_title"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.SurveyInformation" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.CropDetailActivity"
            android:label="@string/crop_detail_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.CropProductionActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.Select_Policy" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.HorticultureDetailActivity"
            android:label="@string/title_activity_horticulture"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.HorticultureActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.StateDepartment"
            android:label="@string/title_activity_state_department"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.project.agrivetApp.activities.SoilHealthActivity"
            android:label="@string/title_activity_soil_health"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.agrivetApp.activities.MainActivity" />
        </activity>
        <activity android:name="com.project.agrivetApp.activities.SellGoods" />
    </application>

</manifest>